* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 75vw;
	margin-top: 20px;
}

.create-person {
	outline: none;
	border: none;
	background: cornflowerblue;
	border-radius: 14px;
	cursor: pointer;
	color: white;
	padding: 20px 5px;
	margin-top: 10px;
	width: 150px;
	text-align: center;
}

.error {
	position: absolute;

	left: 20px;
	bottom: 20px;

	padding: 10px;
	margin-right: 20px;

	background: red;
	color: white;

	border-radius: 12px;
}
